[submodule "themes/farallon"]
	path = themes/farallon
	url = https://github.com/bigfa/hugo-theme-farallon.git
[submodule "themes/hera"]
	path = themes/hera
	url = https://github.com/bigfa/hugo-theme-hera.git
[submodule "themes/puma"]
	path = themes/puma
	url = https://github.com/bigfa/hugo-theme-puma.git
